@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --bg-color: #f4f5fa;
    --input-color-defaut: #eff1f9;
    --height-header: 5.275rem;
  }
}

@layer utilities {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }
    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }
}

@layer components {
  .page-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    min-height: 100vh;
    overflow: auto;
  }
  .card-content {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .content-container {
    display: flex;
    flex-direction: column;
    height: calc(100vh - var(--height-header));
    overflow: hidden;
    gap: 1rem;
    padding: 1rem;
    background-color: var(--bg-color);
  }
  .icon-sw-2 path {
    stroke-width: 2px;
  }
  .icon-sw-3 path {
    stroke-width: 3px;
  }
  select option {
    color: var(--black-color-100);
    border: transparent;
  }
}

body {
  box-sizing: border-box;
  overflow: auto;
  margin: 0;
  padding: 0;
}
